/proxmox/terraform/.terraform.lock.hcl
/proxmox/terraform/terraform.tfstate
/proxmox/terraform/.terraform/
/proxmox/k8s-resources/tmp/
/proxmox/kubespray/kubespray/
/proxmox/kubespray/kubespray-venv/
/proxmox/kubespray/kubespray/
