apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ chart_name }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ repoURL }}
    path: {{ git_path if git_path is defined else "" }}
    targetRevision: {{ git_revision if git_revision is defined else chart_version }}
    helm:
      parameters:
        {{ chart_parameters | to_nice_yaml | indent(8) }}
      values: |-
        {{ chart_values | to_nice_yaml | indent(8) }}
    chart: {{ "" if git_revision is defined else chart_name }}
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: {{ namespace }}
  {{ common_sync_options | to_nice_yaml | indent(1) }}
