apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ nextcloud_repoURL }}
    targetRevision: {{ nextcloud_chart_version }}
    helm:
      values: >-
        {{ nextcloud_values | to_nice_yaml | indent(8)}}
    chart: nextcloud
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true