apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
type: Opaque
data:
{% for key, value in item.data.items() %}
  {{ key }}: {{ value | b64encode }}
{% endfor %}